# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data efficiently
     for easy access and modification. They are important because they optimize data management, improve algorithm performance, and enable efficient problem-solving in programming and data analysis. Examples include arrays, linked lists, stacks, queues, trees, and graphs.
2. Explain the difference between mutable and immutable data types with
   examples.
   - Mutable Data Types -> These can be modified after creation. Changes
     occur in place without creating a new object.

In [4]:
#list
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

#dict
my_dict = {'a': 1}
my_dict['a'] = 2
print(my_dict)

[10, 2, 3]
{'a': 2}

  - Immutable Data Types -> These cannot be changed after creation.
     Any modification creates a new object.

In [5]:
#tuple
my_tuple = (1, 2, 3)
my_tuple[0] = 10
print(my_tuple)


#string
my_str = "hello"
my_str[0] = 'H'
print(my_str)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences betwen lists and tuples in Python?
   - Lists are mutable, allowing modification after creation, while tuples
     are immutable and cannot be changed. Lists have dynamic memory allocation, making them slower, whereas tuples are faster due to static memory allocation. Lists use more memory, while tuples are more memory-efficient.
4. Describe how dictionaries store data.
   - Dictionaries in Python store data as key-value pairs using a hash
     table internally. Each key is hashed to generate an index, allowing for fast lookups, insertions, and deletions. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any data type. This structure enables efficient data retrieval in constant time, on average.
5. Why might you use a set instead of a list in Python?
   - A set is used instead of a list when we need unique elements and
     fast lookups. Sets automatically remove duplicates and provide O(1) average time complexity for membership tests, whereas lists require O(n) search time. However, sets are unordered, unlike lists, which maintain element order.
6. What is a string in python, and how is it different from a list?
   - A string in Python is an immutable sequence of characters, while a
     list is a mutable collection of elements (which can be of any data type). Strings cannot be modified in place, whereas lists can be changed dynamically. Additionally, lists support operations like item reassignment and removal, which strings do not.
7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python by being immutable, meaning
     their elements cannot be changed, added, or removed after creation. This prevents accidental modifications, making tuples ideal for storing constant data, ensuring reliability, and enhancing security in applications where data consistency is crucial.
8. What is a hash table and, how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores key-value pairs using a
     hashing function to map keys to unique indices for fast retrieval. In Python, dictionaries are implemented using hash tables, allowing O(1) average-time complexity for lookups, insertions, and deletions. Each key is hashed to determine its storage location, ensuring efficient data access.
9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain different data types. A single list  can store integers, floats, strings, booleans, other lists, tuples,
     dictionaries, or even custom objects, making them highly flexible.
     For example:
     my_list = [10, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]
10. Explain why strings are immutable in Python?
    - Strings are immutable in Python to enhance performance, security,
      and memory efficiency. Since strings are widely used, immutability allows Python to optimize memory usage by interning (reusing common strings). It also ensures thread safety, preventing unintended modifications. Any change to a string creates a new object instead of modifying the original.
11. What advantages do dictionaries offer over lists for certain task?
    - Dictionaries offer faster lookups (O(1) average time complexity)
      using keys, while lists require O(n) search time. They allow key-value pairing, making data retrieval more intuitive. Dictionaries are ideal for tasks needing quick access, unique keys, and structured data, whereas lists are better for ordered sequences.
12. Describe a scenario where using a tuple would be preferable over lists.
    - A tuple is preferable over a list when data integrity and
      immutability are required. For example, storing coordinates (latitude, longitude) in a GPS application ensures the values remain unchanged.

In [2]:
coordinates = (40.7128, -74.0060)  # Immutable location data

13. How do sets handle duplicate values in Python?
    - Sets in Python automatically remove duplicate values, ensuring each
      element is unique. When elements are added to a set, Python internally checks for duplicates and discards them.

In [3]:
my_set = {1, 2, 2, 3, 4, 4}
print(my_set)

{1, 2, 3, 4}

14. How does the "in" keyword work differently for lists and dictionaries?
    - In Lists -> It checks if a value exists in the list, requiring an O
      (n) linear search in the worst case.
    - In Dictionaries -> It checks if a key exists (not values) using a
      hash table, making lookups O(1) on average.

In [4]:
#in list
my_list = [10, 20, 30]
print(20 in my_list)  # True

#in dictionaries
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # True
print(1 in my_dict)    # False (checks keys, not values)

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, we cannot modify the elements of a tuple because tuples are
      immutable in Python. Once created, their elements cannot be changed, added, or removed. This immutability ensures data integrity, optimizes performance, and allows tuples to be used as keys in dictionaries.
      However, if a tuple contains a mutable object (e.g., a list), the contents of that object can be modified.

In [5]:
my_tuple = (1, [2, 3])
my_tuple[1].append(4)
print(my_tuple)

(1, [2, 3, 4])

16. what is a nested dictionaries, and give an example of its use cases.
    - A nested dictionary is a dictionary that contains another dictionary
      as its value. It allows hierarchical data storage, making it useful for organizing complex data structures.

In [6]:
users = {
    "user1": {"name": "Alice", "age": 25, "email": "alice@example.com"},
    "user2": {"name": "Bob", "age": 30, "email": "bob@example.com"}
}
print(users["user1"]["email"])

alice@example.com

17. Describe the time complexity of accessing element in a dictionary.
    - Accessing an element in a dictionary has an average time complexity
      of O(1) due to its hash table implementation, which allows direct lookup of keys. However, in the worst case (O(n)), hash collisions may require scanning multiple entries.

In [7]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict["b"])  # O(1) average case

2

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when order matters, sequential
      access is needed, or when storing homogeneous data without requiring key-value pairs. They are ideal for iterating over elements, maintaining duplicates, and using indexing efficiently.
19. Why are dictionaries considered unordered, and how does that affect
     data retrieval?
    - Dictionaries were historically considered unordered because they
      stored key-value pairs in a way that did not preserve insertion order. However, since Python 3.7, dictionaries maintain insertion order, though they are still optimized for fast lookups rather than ordered retrieval.
      Effect on Data Retrieval:
        - Fast lookups (O(1)) regardless of order
        - Iteration follows insertion order (Python 3.7+), but reordering
          keys dynamically is not straightforward
        - Not ideal for positional access like lists (e.g., dict[1]
          doesnâ€™t retrieve the second item)

In [8]:
my_dict = {"b": 2, "a": 1, "c": 3}
print(my_dict)

{'b': 2, 'a': 1, 'c': 3}

20. Explain the difference between a list and a dictionary in terms of
     data retrieval.
    - The key difference between lists and dictionaries in terms of data
      retrieval lies in their access methods and efficiency:
        - Lists:
          - Use index-based access (O(1)) for direct retrieval.
          - Searching for an element requires O(n) time in the worst case.
        - Dictionaries:
          - Use key-based access (O(1) average case) due to hash table
            implementation.
          - Lookups are faster than lists when searching for values based
            on keys.

In [9]:
#list
my_list = [10, 20, 30]
print(my_list[1])


#dictionary
my_dict = {"a": 10, "b": 20}
print(my_dict["b"])

20
20

# **Practical Questions**

1. Write a code to create a string with your name and print it.

In [10]:
name = "Vivek Kumar"
print(name)

Vivek Kumar

2. Write a code to find the length of the string "Hello World".

In [11]:
text = "Hello World"
length = len(text)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python
   Programming".

In [12]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [13]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I
   like apple".

In [14]:
original_string = "I like apple"
modified_string = original_string.replace("apple", "orange")

print(modified_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
number_list = list(range(1, 6))

print(number_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [16]:
number_list = [1, 2, 3, 4]
number_list.append(10)
print(number_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [17]:
number_list = [1, 2, 3, 4, 5]
number_list.remove(3)
print(number_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300, and
     print it.

In [20]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red',
     'green', 'blue', 'yellow').

In [21]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [22]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

14. Write a code to find the index of the element 'cat' in the tuple
     ('dog', 'cat', 'rabbit').

In [23]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and
     check if "kiwi" is in it.

In [24]:
# Create a tuple with three different fruits
fruits = ('apple', 'banana', 'orange')

# Check if "kiwi" is in the tuple
is_kiwi_in_tuple = "kiwi" in fruits

print(is_kiwi_in_tuple)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print
     it.

In [25]:
my_set = {'a', 'b', 'c'}

print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [27]:
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [28]:
my_set = {1, 2, 3, 4}

my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [29]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3,
     4}.

In [30]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with te keys "name", "age", and
     "city", and print it.

In [31]:
# Create a dictionary with keys "name", "age", and "city"
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country":"USA" to the
     dictionary {'name':'john','age':25}.

In [32]:
# Original dictionary
my_dict = {'name': 'john', 'age': 25}

# Add a new key-value pair
my_dict['country'] = 'USA'

# Print the updated dictionary
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the
     dictionary{'name':'Alice','age':30}.

In [33]:
# Original dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = my_dict['name']

# Print the value
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}.

In [34]:
# Original dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age" using del
del my_dict['age']

# Print the updated dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary
    {'name':'Alice','city':'Paris'}.

In [35]:
# Original dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists in the dictionary
key_exists = 'city' in my_dict

# Print the result
print(key_exists)

True

26. Write a code to create a list, a tuple, and a dictionary and print
     them all.

In [36]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = (10, 20, 30)

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.(replaced)

In [37]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [8, 38, 78, 89, 90]

28. Write a code to create a list with strings and print the element at
     the third index.

In [38]:
# Create a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Access the element at the third index
third_index_element = my_list[3]

# Print the element at the third index
print("Element at the third index:", third_index_element)

Element at the third index: date

29. Write a code to combine two dictionaries into one and print the result.

In [39]:
# Define the two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'country': 'USA'}

# Combine the dictionaries using update()
combined_dict = dict1.copy()  # Create a copy of dict1 to avoid modifying it
combined_dict.update(dict2)

# Print the combined dictionary
print("Combined Dictionary (using update):", combined_dict)

Combined Dictionary (using update): {'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [40]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list to a set
string_set = set(string_list)

# Print the resulting set
print("Set from list of strings:", string_set)

Set from list of strings: {'cherry', 'banana', 'apple', 'date'}